@model IEnumerable<Nota>;
@{
    ViewData["Title"] = "ExibirNotas";
}

<h1>Minhas Notas</h1>

<a asp-action="AdicionarNota" asp-route-codigo="@ViewData["repositorioId"]">Adicionar Anotação</a>

@foreach (var nota in Model)
{
    <ul class="list-group">
        <li class="list-group-item">
            <a asp-action="ExibirDetalhes" asp-route-id="@nota.NotaId"><h5>@nota.Titulo</h5></a>
            <a asp-action="ExcluirNota" asp-route-notaId="@nota.NotaId">Deletar</a>
            <a asp-action="EditarNota" asp-route-notaId="@nota.NotaId">Editar</a>
        </li>
    </ul>
}

