@model IEnumerable<Nota>;

@{
    ViewData["Title"] = "ExibirNotas";
}
<link href="~/css/site.css" rel="stylesheet" />
<partial name="_NavBar" />

<h1 class="Nome-Repositorio">@ViewData["Titulo"]</h1>


<h3>Total de notas: @Model.Count()</h3>

<a asp-action="AdicionarNota" asp-route-codigo="@ViewData["repositorioId"]">Adicionar Anotação <strong>+</strong></a>

<form form-control >
    <input calss="d-none" type="hidden" name="repositorioId" value="@ViewData["repositorioId"]" />
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" for="pesquisa" name="pesquisa">
    <button onclick="BuscaAvancada" class="btn btn-outline-success" type="submit" asp-action="BuscaAvancada">Busca Avançada</button>
</form>


<ul class="list-group">
    @foreach (var nota in Model)
    {

        <li class="list-group-item">
            <div class="row">
                <div class="col-9">

                    <a class="text-decoration-none" asp-action="ExibirDetalhes" asp-route-id="@nota.NotaId"><h3 class="Nota-Titulo Campo-De-Busca">@nota.Titulo</h3></a>

                </div>
                <div class="col col-lg-3">
                    <form >
                        <a class="btn btn-danger" onclick="ConfirmarExclusao(@nota.NotaId)">Deletar</a>
                        <a class="btn btn-warning" asp-action="EditarNota" asp-route-notaId="@nota.NotaId">Editar</a>
                    </form>
                </div>
            </div>
        </li>

    }
</ul>
<a class="btn btn-primary" asp-controller="Repositorio" asp-action="TelaInicial" asp-route-usuarioId="@ViewData["usuarioId"]">Voltar</a>


<partial name="_ModalExcluirView"/>

<partial name="_ModalExcluirNotaScript" />