@model Nota
@{
    ViewData["Título"] = Model.Titulo;
}



<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Model.Titulo</title>
</head>
<body>
    <div class="mb-3">
        <h1 class="Nota-Titulo">@Model.Titulo</h1>

        <div class="border border-dark">

            @Html.Raw(Model.Anotacao)
        </div>
    </div>


    <form>
        <a class="btn btn-primary" asp-action="ExibirNotas" asp-route-repositorioId="@Model.RepositorioId">Voltar</a>
        <a class="btn btn-danger float-right" onclick="ConfirmarExclusaoComRedirect(@TempData["notaId"], @TempData["repositorioId"])">Deletar</a>
        <a class="btn btn-warning float-right" asp-action="EditarNota" asp-route-notaId="@TempData["notaId"]">Editar</a>
    </form>


    <partial name="_ModalExcluirView" />

    <partial name="_ModalExcluirNotaScript" />

</body>
</html>

