@model IEnumerable<Repositorio>
@{
    ViewData["Title"] = "TelaInicial";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

    <partial name="_NavBar" />


    <p class="total">Total: @Model.Count()</p>

    <a asp-action="AdicionarRepositorio" asp-route-usuarioId="@ViewData["usuarioId"]">Adicionar Repositório <strong>+</strong></a>

    @if (TempData["RepositorioExcluido"] != null)
    {
        <p class="alert alert-danger">@TempData["RepositorioExcluido"].ToString()</p>
    }


    <ul class="list-group">
        @foreach (var item in Model)
        {

            <li class="list-group-item">
                <div class="row">
                    <div class="col-9">
                        <a class="text-decoration-none" asp-controller="Nota" asp-action="ExibirNotas" asp-route-repositorioId="@item.RepositorioId"><h2 class="display-6 Campo-De-Busca">@item.Titulo</h2></a>
                    </div>

                    <div class="col col-lg-3">
                        <form action="/" method="post">

                            <a class="btn btn-danger" onclick="ConfirmarExclusao(@item.RepositorioId)">Deletar</a>
                            <a class="btn btn-warning" asp-action="EditarRepositorio" asp-route-repositorioId="@item.RepositorioId">Editar</a>
                        </form>
                    </div>
                </div>
            </li>


        }
    </ul>
    
    

    <div class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmação de exclusão</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Prosseguir com a exclusão do Repositório?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary btnFechar" data-dismiss="modal">Não</button>
                    <button type="button" class="btn btn-outline-danger btnExcluir" data-dismiss="modal">Sim</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function ConfirmarExclusao(repositorioId) {
            $(".modal").modal();
            $(".btnExcluir").on('click', function () {
                $.ajax({
                    url: '/Repositorio/ExcluirRepositorio',
                    method: 'POST',
                    data: { repositorioId: repositorioId },
                    success: function (data) {
                        location.reload(true);
                    }
                });
            });
            $(".btnFechar").on('click', function () {
                notaId = null;
                $(".modal").modal('hide');
            })
        }
    </script>

</body>
</html>
