@model IEnumerable<Repositorio>
@{
    ViewData["Title"] = "TelaInicial";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

    <partial name="_NavBar" />


    <p class="total">Total: @Model.Count()</p>

    <a asp-action="AdicionarRepositorio" asp-route-usuarioId="@ViewData["usuarioId"]">Adicionar Repositório <strong>+</strong></a>

    <ul class="list-group">
        @foreach (var item in Model)
        {

            <li class="list-group-item">
                <div class="row">
                    <div class="col-9">
                        <a class="text-decoration-none" asp-controller="Nota" asp-action="ExibirNotas" asp-route-repositorioId="@item.RepositorioId"><h2 class="display-6 Campo-De-Busca">@item.Titulo</h2></a>
                    </div>

                    <div class="col col-lg-3">
                        <form action="/" method="post">

                            <button class="btn btn-danger" asp-action="ExcluirRepositorio" asp-route-repositorioId="@item.RepositorioId">Deletar</button>
                            <a class="link-warning" asp-action="EditarRepositorio" asp-route-repositorioId="@item.RepositorioId">Editar</a>
                        </form>
                    </div>
                </div>
            </li>


        }
    </ul>



</body>
</html>
